body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
header{
    background-color: #2c2c2c;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;

}
.rightHeader {
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}
#loginBtn {
    margin-right: 20px;
}
.registerBtn {
    background-color: #d5ad36;
    padding: 10px 10px;
    border-radius: 15px;
    display: inline-block;
}
.registerBtn a, .registerBtn{
    color: black;
    font-weight: bold;
}
.welcomeText, content{
    margin: 10px 20px;
}
h1 {
    font-size:50px;
}
.formContainer {
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 7px 20px;
    margin-top: 50px;
}
.formContent {
    margin-right: 30px;
    text-align: right;
}
.formContent button{
    margin-bottom: 10px;
}
.formContent input, button, select{
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #2c2c2c;
}
#passengers {
    width: 30px;
    text-align: center;
}
#decreaseBtn, #increaseBtn{
    width: 25px;
    font-weight: bold;
}
#startDate, #endDate{
    width: 80px;
}
#carType {
    width: 130px;
}
#minPrice, #maxPrice{
    width: 40px;
}
.formContent span{
    font-size: .8em;
}
.formContent select::placeholder {
    color: #2c2c2c;
}
.content {
    display: flex;
    flex-wrap:wrap;
    padding: 7px 20px;
}

.carContainer {
    background-color: #2c2c2c;
    border-radius: 20px;
    border-radius: 10px;
    width: min-content;
    margin: 0 20px 20px 0;
    position: relative;
}
.carImgContainer {
    position: relative;
}
.carImg {
    width: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.carImgContainer span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.carInfo{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carBtn {
    font-size: 0.7em;
    margin-left: 5px;
}
.carBrand {
    font-size: 0.9em;
}
.carPassengers {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.5);
}

.passengersBtn {
    color: #2c2c2c;
}